USE [master]
GO
/****** Object:  Database [tcglxt]    Script Date: 2021/4/25 19:08:52 ******/
CREATE DATABASE [tcglxt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tcglxt', FILENAME = N'D:\Program Files\sqlService\MSSQL15.MSSQLSERVER\MSSQL\DATA\tcglxt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tcglxt_log', FILENAME = N'D:\Program Files\sqlService\MSSQL15.MSSQLSERVER\MSSQL\DATA\tcglxt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tcglxt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tcglxt]
GO
/****** Object:  Table [dbo].[cwxx]    Script Date: 2021/4/25 19:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cwxx](
	[cwbm] [int] IDENTITY(1,1) NOT NULL,
	[cwmc] [nvarchar](50) NOT NULL,
	[mxsfy] [numeric](14, 2) NOT NULL,
	[cwzt] [nvarchar](50) NULL,
	[zsyh] [nvarchar](255) NULL,
	[yxsc] [datetime] NULL,
	[zsjg] [decimal](18, 0) NULL,
 CONSTRAINT [PK__cwxx__36D4731FB4217F47] PRIMARY KEY CLUSTERED 
(
	[cwbm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tcxx]    Script Date: 2021/4/25 19:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tcxx](
	[tcid] [int] IDENTITY(1,1) NOT NULL,
	[cwxx_bm] [int] NOT NULL,
	[clbm] [nvarchar](20) NOT NULL,
	[clxh] [nvarchar](20) NOT NULL,
	[tckssj] [datetime] NOT NULL,
	[tcjssj] [datetime] NULL,
	[tcfy] [numeric](14, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[tcid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yhxx]    Script Date: 2021/4/25 19:08:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yhxx](
	[yhzh] [nvarchar](20) NOT NULL,
	[yhxm] [nvarchar](50) NOT NULL,
	[yhmm] [nvarchar](50) NOT NULL,
	[yhlb] [int] NOT NULL,
 CONSTRAINT [PK__yhxx__F63FEEE5C859459A] PRIMARY KEY CLUSTERED 
(
	[yhzh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tcxx]  WITH CHECK ADD  CONSTRAINT [fk_tcxx_cwxx] FOREIGN KEY([cwxx_bm])
REFERENCES [dbo].[cwxx] ([cwbm])
GO
ALTER TABLE [dbo].[tcxx] CHECK CONSTRAINT [fk_tcxx_cwxx]
GO
USE [master]
GO
