@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="margin-top: 30px;">
    <h1>小区停车管理系统</h1>
    <p class="lead">打造未来美好生活</p>
</div>

<div class="row">
    <img src="/image/login-left.jpg" style="height: 100%; width: 100%;" />
</div>